@font-face {
  font-family: 'Figtree';
  src: local('Figtree'), url(/public/fonts/Figtree-VariableFont_wght.ttf) format('truetype');
}

* {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}